*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    background: none;
}
body{
    background-color: #f3f5fc;
}
main{
    height: 100vh;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
section{
    height: 100%;
}
.entrada{
    width: 70%;
}
.salida{
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.salida img{
    width: 100%;
    margin-bottom: 10px;
}
.salida > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.salida div p.esconder:nth-child(1){
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
    line-height: 120%;
    text-align: center;
}
.salida div p.esconder:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    text-align: center;
}
button{
    width: 45%;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
}
.salida div button{
    color: #0A3871;
    margin-top: 15px;
}
.entrada > img{
    position: absolute;
    margin-left: 15px;
}
.entrada > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    padding: 120px 0 36px 0;
    justify-content: space-between;
}
.entrada >div textarea{
    border: none;
    outline: none;
    height: 200px;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    resize: none;
}
.entrada > div textarea::placeholder { color: #0A3871; }

.btn-encriptar{
    color: #FFFFFF;
    background-color: #0A3871;
}

.entrada > div > div > p{
    color: #495057;
    opacity: 0.8;
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-left: 20px;
}
.entrada > div > div > p img{
    margin-right: 9px;
}
.entrada > div > div > button{
    margin: 0 1.5% 10px 1.5%;;
}
.contenedorResultado{
    width: 100%;
    word-wrap: break-word;
    overflow: auto;
}
#resultado{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}
#btn-Copiar{
    width: 120%;
}
.hide{
    display: none;
}

@media (max-width: 1000px) {
    .salida img{
        width: 140%;
    }
    .salida div p.esconder:nth-child(1){
        font-size: 22px;
    }
    .salida div p.esconder:nth-child(2){
        font-size: 15px;
    }
  }

@media (max-width: 770px) {
    main{
        flex-direction: column;
        justify-content: flex-end;
    }
    main .entrada, .salida{
        width: 100%;
    }
    section{
        height: auto;
    }
    .entrada > div{
        margin-left: 0;
        padding-bottom: 10px;
    }
    .salida img{
        display: none;
    }
    #btn-Copiar{
        width: 100%;
    }
  }

  @media (max-width: 400px) {
    main{
        padding: 17px;
        justify-content: start;
    }
    .entrada >div > div{
        display: flex;
        flex-direction: column;
    }
    .entrada >div > div button{
        width: 100%;
    }
  }